<header class="mainUpBlock" [@brightnessAnim]="elemHover_header ? 'hover' : 'normal'" (mouseenter)="elemHover_header = true" (mouseleave)="elemHover_header = false"
[ngClass]="{ 'hover-purple': elemHover_header, 'normal': !elemHover_header }" (mouseenter)="elemHover_header = true" (mouseleave)="elemHover_header = false" @headerSlideIn>
    <div class="logo" routerLink="/">
        <figure>
            <img src="icons/logo.png" alt="Logo">
        </figure>
        <h1>ParoVoz - Аналог НАШЕГО Steam!</h1>
    </div>

    <div class="searcharea">
        <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" placeholder="Поиск игр по названию...">
    </div>

    <nav class="navMenu">
        <a routerLink="/" routerLinkActive="active">Главная</a>
        <a routerLink="/cart" routerLinkActive="active" class="cartarea">Корзина <img src="icons/cart-icon.png" alt="Cart">
            <span *ngIf="cartCount > 0" class="cart">({{ cartCount }})</span>
        </a>
        <a routerLink="/purchases" routerLinkActive="active" class="purchasearea">Список покупок <img src="icons/purchase-icon.png" alt="Purchase">
            <span *ngIf="purchasesCount > 0" class="purchase">({{ purchasesCount }})</span>
        </a>
        <ng-container *ngIf="!user">
            <button routerLink="/auth" class="userStatus">Войти</button>
        </ng-container>

        <ng-container *ngIf="user">
            <button routerLink="/profile" class="userStatus">Личный Кабинет</button>
            <button (click)="logout()">Выйти</button>
        </ng-container>

        <button routerLink="/about" routerLinkActive="active">Справочник...</button>
    </nav>
</header>

<aside class="rightPanel" [@brightnessAnim]="elemHover_sidebar ? 'hover' : 'normal'" (mouseenter)="elemHover_sidebar = true" (mouseleave)="elemHover_sidebar = false"
[ngClass]="{ 'hover-purple': elemHover_sidebar, 'normal': !elemHover_sidebar }" (mouseenter)="elemHover_sidebar = true" (mouseleave)="elemHover_sidebar = false" @sidebarSlideIn>
    <h3>Топ игр текущей недели</h3>
    <ul>
        <li *ngFor="let game of topGames">
            <span>{{ game.title }}</span>
            <span class="topprice">{{ game.price }} ₽</span>
        </li>
    </ul>
</aside>
