@use '../../services.style.scss' as service;

.aboutInfoField {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  &.serviceLike {
    @extend %servicePage;
    font-family: var(--font-formal-main);
  }
  &.gamingLike {
    background-image: linear-gradient(120deg, var(--color-bg-dark), var(--color-bg-dullgreen));
    font-family: var(--font-main);
  }

  .notAuthorizedBlock {
    top: 0;
    width: 100%;
    background: repeating-linear-gradient(75deg, var(--color-neon-green), var(--color-neon-purple));
    color: var(--accent-darkred);
    border: 1.5px solid var(--border-tab);
    border-radius: 15px;
    box-shadow: 0 6px 9px var(--color-bg-dullgreen);
    justify-content: space-between;
    padding: 0.55rem;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin: 0;
      letter-spacing: 0.3px;
      }
    p {
      font-size: 1.3rem;
      text-align: center;
    }
  }

  .moderatorInfoBlock {
      @extend %serviceBlock;
      margin: 0.2rem;

      .disclaimer {
        text-align: center;
        color: var(--color-red);
        font-family: var(--font-formal-office);
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
      }
      .formalGreet {
        text-align: right;
        color: var(--color-orange);
        font-weight: 600;
        margin-top: 0.6rem;
        margin-bottom: 0.9rem;
      }
      .techInfo {
        max-width: 900px;
        padding: 0.55rem 0.66rem;
        background-color: var(--accent-lightyellow);
        border-left: 10px solid var(--accent-lightyellow);
        border-radius: 10px;

        h2 {
          text-align: center;
          color: var(--accent-ink-header);
          font-family: var(--font-formal-office);
          font-weight: 600;
          margin-top: 0.8rem;
        }
        button {
          @extend %button;
        }
        p {
          font-family: var(--font-formal-accent);
          font-size: 1.1rem;
          text-align: justify;
          color: var(--text-dark);
          letter-spacing: 0.3px;
        }
        ul {
          margin-left: 1.2rem;
          list-style-type: square;

          li {
            font-family: var(--font-formal-office);
            margin-bottom: 0.2rem;
          }
        }
        .knownRights {
          display: inline-block;
          align-self: flex-end;
          text-align: center;
          max-width: 840px;
          padding: 0.44rem 0.44rem;
          background-color: var(--accent-formal-light);
          border-radius: 2px;
          color: var(--color-lime);
          margin-bottom: 0.3rem;

          span {
            display: flex;
            margin: 0;
            color: green;
            font-size: 0.99rem;
            font-variant: small-caps;
            font-weight: 800;

            p {
              font-variant: normal;
              font-weight: 400;
              margin: 0;
              padding: 0 0.35rem;
              color: var(--accent-ink-header);
            }
          }
        }
        .knownProhibits {
          display: inline-block;
          align-self: flex-end;
          text-align: center;
          max-width: 840px;
          padding: 0.44rem 0.44rem;
          background-color: var(--accent-formal-light);
          border-radius: 2px;
          color: var(--color-red);
          margin-bottom: 0.3rem;

          span {
            display: flex;
            margin: 0;
            color: var(--accent-bookcover-red);
            font-size: 0.99rem;
            font-variant: small-caps;
            font-weight: 800;

            p {
              font-variant: normal;
              font-weight: 400;
              margin: 0;
              padding: 0 0.35rem;
              color: var(--accent-ink-header);
            }
          }
        }
        span {
          display: block;
          align-items: center;
          margin-left: 66%;

          small {
            font-family: var(--font-formal-office);
            color: var(--accent-ink-header);
            font-style: italic;
            font-weight: 500;
            margin-left: 1.9rem;
          }
        }
      }
    }

    .changelogModalOverlay {
    position: fixed;
    inset: 0;
    background: var(--accent-formal-darkpurple);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.4s ease forwards;

    .changeLogContent {
      background: var(--accent-formal-light);
      width: 70%;
      max-width: 900px;
      max-height: 80vh;
      overflow-y: auto;
      border-radius: 12px;
      box-shadow: 0 0 18px var(--accent-bookcover-green), 0 0 30px var(--accent-darkpurple);
      position: relative;
      padding: 2rem 2.5rem;
      font-family: 'Courier New', monospace;
      background-image: linear-gradient(to bottom, var(--color-shadow) 1px, transparent 1px), 
      linear-gradient(135deg, #ffffff 0%, var(--accent-formal-light) 100%);
      background-size: 100% 2rem;
      border-left: 10px solid var(--accent-notebook-cover);
      animation: slideUp 0.35s ease forwards;

      .btnCloseChangeLog {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: var(--color-muted);
        color: white;
        font-size: 1.1rem;
        font-weight: 700;
        border: none;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          background-color: var(--accent-darkred);
          transform: scale(1.15);
        }
      }

      .viewChangeLog {
        color: var(--accent-formal-darkgray);
        line-height: 1.6;
        text-align: left;

        span {
          display: flex;
          color: var(--color-danger);
          font-size: 1.3rem;
          font-variant: small-caps;
          font-weight: bold;

          p {
            margin: 0;
            padding: 0.5rem;
            color: var(--accent-ink-text);
            text-decoration: underline;
          }
        }

        h2 {
        color: var(--accent-ink-header);
        border-bottom: 2px solid var(--color-shadow);
        padding-bottom: 0.4rem;
        margin-bottom: 1rem;
        text-align: center;
        }
        p b {
          color: var(--accent-ink-text);
        }
        ul {
          margin-left: 1.4rem;
          list-style-type: square;

          li {
            margin-bottom: 0.4rem;
          }
          small {
            display: block;
            margin-left: 1rem;
            font-style: italic;
            color: var(--accent-formal-gray);
          }
        }
      }
    }
  }

  .userInfoBlock {
    background-image: linear-gradient(115deg, var(--color-spacevoid-variant-one), var(--color-spacevoid-variant-two));
    border: 1px solid var(--accent-darkpurple);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 0 20px var(--accent-darkpurple);
    margin: 2rem auto;
    width: 80%;
    max-width: 900px;
    text-align: left;

    .formalGreet {
      text-align: right;
      color: var(--color-neon-orange);
      text-shadow: 0 0 15px var(--color-neon-yellow);
      font-weight: 600;
      margin-top: 0.66rem;
      margin-bottom: 0.9rem;
    }
    .generalInfo {
      max-width: 900px;
      padding: 0.55rem 0.66rem;
      background-image: repeating-linear-gradient(115deg, var(--accent-darkalice), var(--color-neon-teal));
      box-shadow: 0 0 16px var(--color-neon-green);
      border: 2px solid var(--accent-turquoise);
      border-radius: 10px;

      &.hover-green {
        background-image: repeating-linear-gradient(115deg, var(--color-neon-green), var(--color-neon-purple));
      }
      &.normal {
        background-image: repeating-linear-gradient(115deg, var(--accent-darkalice), var(--color-neon-teal));
      }

      h2 {
        text-align: center;
        color: var(--text-light);
        text-shadow: 0 0 10px var(--color-bg-light);
        font-weight: 600;
        margin-top: 0.6rem;
      }
      p {
        font-family: var(--font-accent-extra);
        font-size: 1.1rem;
        text-align: justify;
        color: var(--color-neon-yellow);
        text-shadow: 0 0 5px gold;
        letter-spacing: 0.4px;
      }
      .endBlock {
        font-size: 1rem;
        text-align: right;
        color: var(--color-neon-purple);
        text-shadow: 0 0 5px var(--accent-lightpurple);
        letter-spacing: 0px;
      }
      ul {
        font-family: var(--font-main);
        margin-left: 0.1rem;
        list-style-type: disc;
        list-style-image: linear-gradient(40%, var(--color-neon-green), var(--color-neon-yellow));

        li {
          color: var(--accent-lightred);
          font-size: 1.2rem;
          font-variant: small-caps;
          text-shadow: 0 0 5px var(--color-spacedust-variant-one);
          margin-bottom: 0.25rem;
        }
      }
    }
  }

  .infoActions {
    display: flex;
    align-self: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 100%;

    .btnReturnToMain {
      @include service.btnPrimary;
      transition: 0.25s ease;

      &:hover {
        background-color: var(--color-lightblue);
        box-shadow: 0 0 10px var(--accent-bookcover-blue);
      }
    }
    .btnProfileSender {
      @include service.btnSecondary;
      transition: 0.25s ease;

      &:hover {
        background-color: #d7dbe3;
      }
    }
  }
}