<div class="aboutInfoField" [ngClass]="{ serviceLike: role === UserRole.Moderator, gamingLike: role === UserRole.User || role === UserRole.PremiumUser }">
    <div *ngIf="!checkUser()" class="notAuthorizedBlock">
        <h2>*=Ошибка! Попытка просмотра информации без авторизации...*=</h2>
        <p>Эта страница недоступна для просмотра неавторизованным пользователям!</p>
    </div>

    <div *ngIf="role === UserRole.Moderator" class="moderatorInfoBlock">
        <h2 class="disclaimer">Эта информация характерна только для разработчиков!</h2>
        <h2 class="formalGreet">Добро Пожаловать, <b>{{ UserName }}</b>!</h2>
        <div class="techInfo">
            <h2>Краткий справочник данного проекта:</h2>
            <button type="button" (click)="openChangelog()">Посмотреть список изменений...</button>
            <p>Данный проект - готовая "боевая" версия для возможности релиза в продакшн (на продажу).</p>
            <p>Собран на основе следующего:</p>
            <ul>
                <li>Пройденного изученного материала (смотрите footer сайта);</li>
                <li>Соблюдения принципов S.O.L.I.D. И архитектурных паттернов проектирования;</li>
                <li>Собирательных образов существующих торговых площадок (Steam, EpicGames, LolzSteam и т. п.);</li>
                <li>Оформлен в духе современных (Sci-Fi) ПК игр будущего!;</li>
                <li>Существующих сервисов (SberPay, VTB, YandexMoney и т. п.).</li>
            </ul>
            <p>Выполняет стабильную, отказоустойчивую работу. Работает полностью на реактивных подписках.</p>
            <p>Перед тем, как захотите добавить/редактировать игру в список - ознакомьтесь с соглашениями об авторских правах!</p>
            <div class="knownRights">Вы имеете полное право на:
                <span>1. <p>Изменения существующего кода, с соблюдением примененных принципов проектирования; </p></span>
                <span>2. <p>Изменение существующих данных (ПК игры);</p></span><br>
                <span>3. <p>Перепродаже даннного проекта, с указанием ссылок на предыдущих авторов;</p></span>
                <span>4. <p>Использование интернет-ресурсов БЕЗ авторских прав;</p></span>
            </div>
            <div class="knownProhibits">Вам запрещено:
                <span>1. <p>Перепродавать проект, присвоив все свои права на него;</p></span>
                <span>2. <p>Полностью переписывать архитектуру, не разобравшись в ее приницпе работы;</p></span>
                <span>3. <p>Использовать обложки игр, использующие авторские права;</p></span>
                <span>4. <p>Обрабатывать настоящие ПНД пользователей, без одобрения 3-х сторон;</p></span>
            </div>
            <p>Используются сторонние библиотеки/плагины:</p>
            <ul>
                <li>Angular Anims;</li>
                <li>SCSS директивы для динамической стилизации;</li>
                <li>Vanilla Tilt JS (JavaScript).</li>
            </ul>
            <p>Наслаждайтесь доработкой проекта, как сами пожелаете!</p>
            <span><p>Создатель проекта: <small>Козлов М. В.</small></p></span>
        </div>
    </div>

    <div *ngIf="isChangelogMode" (click)="closeChangelog()" class="changelogModalOverlay" @modalAnims>
        <div class="changeLogContent" (click)="$event.stopPropagation()">
            <button class="btnCloseChangeLog" (click)="closeChangelog()">X</button>

            <div class="viewChangeLog">
                <span>*<p>Актуальная версия: {{ changeLogVersion }}</p>*</span>
                <h2>Список изменений (Начиная с версии 1.0.0):</h2>
                <p><b>Версия 1.0.0:</b></p>
                <ul>
                    <li>Первый релиз веб-приложения (черновая сборка).</li>
                    <small>На ней были проверены первые концепции работы с компонентами и сервисами.</small>
                </ul>
                <p><b>Версия 1.1.0 (Полная):</b></p>
                <ul>
                    <li>Добавлена вкладка "Топ лучших игр за неделю", показывающая небольшую информацию;</li>
                    <li>Добавлены перечисления (модель) для переиспользования извне;</li>
                    <li>Добавлен список игр, с возможностью их покупки;</li>
                    <li>Добавлены роли пользователей! Поддерживаются: Модератор (Админ), Простой и Премиум;</li>
                    <li>Исправлена ошибка валидации данных почты;</li>
                    <li>Добавлены расширенные данные пользователя (ФИО, Дата Рождения);</li>
                    <li>Исправлена некорректное отображение обложек игр на Главной Странице;</li>
                    <li>Добавлена возможность пополнять баланс (на 500 ₽);</li>
                    <li>Добавлен малый Инфо-Блок, показывающий роль пользователя + баланс </li>
                    <li>Добавлены стили для ГС и формы атворизации.</li>
                </ul>
                <p><b>Версия 1.2.0 (Полная):</b></p>
                <ul>
                    <li>Исправлено обновление баланса пользователя. Значение обновляется полностью корректно;</li>
                    <li>Теперь список игр - вынесен в отдельный локальный файл;</li>
                    <li>Добавлен режим "Быстрый Вход", по выбору существующих пользователей (из файла);</li>
                    <li>Добавлена кнопка "Очистить корзину", очищающая полностью любые занесенные покупки;</li>
                    <li>Исправлено редактирование/добавление игры (дублирование вкладки);</li>
                    <li>Исправлена работа скидок по промокодам;</li>
                    <li>Теперь любая купленная ПК игра помечается статусом "Куплено", без повторной покупки;</li>
                    <li>Добавлена история покупок (для Главной Страницы);</li>
                    <li>Полностью проработана половина стилей страниц (кроме профиля, корзины);</li>
                    <li>Добавлена поддержка Angular анимации компонентам.</li>
                </ul>
                <p><b>Версия 1.2.1 (Патч):</b></p>
                <ul>
                    <li>Исправлено некорректное удаление игры по ID свойству;</li>
                    <li>Обновлена модель игр! Добавлено свойство рейтингов;</li>
                    <li>Добавлен расширенный режим фильтрации по ценам, рейтингу и жанрам игр;</li>
                    <li>Добавлена возможность в профиле - загружать фото/аватар пользователя;</li>
                    <li>Добавлена возможность загружать обложки игр внутри формы редактирования/добавления;</li>
                    <li>Исправлены стили, некорректно отображающие модальное окно "Подробнее..."</li>
                    <li>Добавлена страница "Информация приложения", фиксирующая все изменения здесь;</li>
                    <li>Доработаны стили для страниц "Корзина", "Профиль".</li>
                </ul>
                <p><b>Версия 1.2.2 (Патч):</b></p>
                <ul>
                    <li>Исправлено некорректное получение состояния корзины игр;</li>
                    <li>Исправлен подсчет (UI) итоговой суммы внутри компонента оплаты;</li>
                    <li>Добавлен отдельный компонент, для хранения списка уже купленных товаров;</li>
                    <li>Добавлена примитивная система рейтингов. Реактивная обработка;</li>
                    <li>Доработаны стили компонентов (Профиль пользователя, страница с информацией);</li>
                    <li>Расширено кол-во переменных стилей! Можно задавать огромные комбинации смешения;</li>
                    <li>Добавлен плагин карточкам игр для 3D перспективы, при наведении;</li>
                    <li>Мелкие исправления в логике и визуале проекта.</li>
                </ul>
                <p><b>Версия 1.3.2 (Полная):</b></p>
                <ul>
                    <li>Добавлены иконки, оформленные под общий стиль приложения;</li>
                    <li>Добавлена простая пагинация для карточек игр, для предотвращения зависании загрузки больших данных;</li>
                    <li>Создан отдельный компонент для карточек игр. Теперь компонент Home - стал управляемым!</li>
                    <li>Исправлено некорректное редактирование обложки, приводящая к зависанию;</li>
                    <li>Добавлена валидация (подсказки) при редактировании/изменении ПК игр;</li>
                    <li>Отделен компонент для списка игр! Теперь игры - загружаются отдельно;</li>
                    <li>Исправлена логика фильтрации. Теперь, корректно учитывает пагинирование страниц;</li>
                    <li>Добавлена простейшая имитация загрузки.</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="role === UserRole.User || role === UserRole.PremiumUser" class="userInfoBlock">
        <h2 class="formalGreet">Добро Пожаловать, <b>{{ UserName }}</b>!</h2>
        <div class="generalInfo" [ngClass]="{ 'hover-green': elemHover, 'normal': !elemHover }" (mouseenter)="elemHover = true" (mouseleave)="elemHover = false">
            <h2>Справочник работы с данным приложением:</h2>
            <p>Перед вами - демо-версия онлайна-магазина ПК игр.</p>
            <p>Здесь Вы можете просматривать каталог игр, добавлять их в корзину и оформлять покупку через встроенные способы оплаты.</p>
            <p>Все данные, включая оплату и аккаунт, используются исключительно для учебных целей.</p>
            <p>Настоящие платежи не совершаются, а введенные Вами сведения не сохраняются за пределами браузера.</p>
            <p>Если Вы только начали работать с данным приложением, рекомендую:</p>
            <ul>
                <li>изучить каталог - кнопка <b>"Подробнее"</b> на карточке игры;</li>
                <li>добавить игру в корзину, чтобы проверить сам процесс покупки;</li>
                <li>зайти в профиль, где можно изменить личные данные и баланс;</li>
                <li>проверить фильтрацию - кнопка-иконка, для раскрытия модального окна расширенного поиска.</li>
            </ul>
            <p>При любых неполадках достаточно обновить страницу - приложение работает локально и восстанавливает данные автоматически.</p>
            <p class="endBlock">Благодарим за интерес к проекту. Надеемся, Вам будет удобно и приятно им пользоваться!</p>
        </div>
    </div>

    <div class="infoActions">
        <button type="button" (click)="onMainReturn()" class="btnReturnToMain">Вернуться на Главную</button>
        <ng-container *ngIf="user">
            <button type="button" (click)="onProfileSend()" class="btnProfileSender">Настройки аккаунта</button>
        </ng-container>
    </div>
</div>