.homeContainer {
  background-image: linear-gradient(120deg, var(--color-bg-dark), var(--color-bg-dullgreen));
  color: var(--text-dark);
  font-family: var(--font-accent-variant-one);
  padding: 2rem;

  .heroContainer {
    background-image: radial-gradient(var(--color-neon-teal), var(--color-neon-green), var(--color-neon-purple), var(--color-bg-dullgreen));
    border: 1px solid var(--border-tab);
    box-shadow: 0 2px 4px rgba(0, 80, 5, 0.5);
    font-family: var(--font-main);
    padding: 0.4rem;

    h1 {
      color: var(--text-light);
      text-shadow: 0 0 12px var(--text-light);
      text-align: center;
      font-size: 2rem;
      margin: 0;
      letter-spacing: 0.2px;
    }
    p {
      color: var(--text-dark);
      text-shadow: 0 0 4px var(--text-dark);
      text-align: right;
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
  }

  .homeTitle {
    color: var(--accent-turquoise);
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow: 0 0 6px var(--color-neon-teal);
    letter-spacing: 0.5px;
    margin-bottom: 1.5rem;
  }

  .promosTitle {
    color: var(--color-neon-yellow);
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow: 0 0 6px var(--color-neon-orange);
    letter-spacing: 0.4px;
    margin-bottom: 1.5rem;
  }

  .loader {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;

    .spinner-wrapper {
      position: relative;
      width: 150px;
      height: 150px;

      .spinner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: fill;
        border: 2px dashed var(--color-neon-green);
        color: var(--color-neon-green);
        box-shadow: 0 0 8px rgba(0, 225, 155, 0.6);
        text-shadow: 0 0 9px var(--color-neon-green);
      }
    }

    p {
      color: rgba(0, 225, 15, 0.8);
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}