<div class="paymentField">
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="paymentMethodForm">
        <h2 class="paymentTitle">Подтверждение оплаты</h2>

        <div *ngIf="cartItems.length > 0; else emptyCart" class="paymentItems">
            <ul>
                <li *ngFor="let item of cartItems">
                    {{ item.title }} - {{ item.price | currency:'RUB':'symbol-narrow' }}
                </li>
            </ul>
        </div>

        <p class="totalSumText">
            Итоговая сумма заказа составляет: <b>{{ totalAmount }} ₽</b><br>
            <span *ngIf="discount > 0" class="discountText">
                Применена скидка {{ discount }}% -> <b>{{ totalAmount.toFixed(2) }} ₽</b>
            </span>
        </p>

        <div>
            <label>
                <input type="radio" formControlName="method" value="card"> Банковская (Дебетовая) карта
            </label>
            <label>
                <input type="radio" formControlName="method" value="promo"> Промокод
            </label>
        </div>

        <div *ngIf="paymentForm.get('method')?.value === 'card'" class="creditCardCredentials">
            <input formControlName="cardNumber" placeholder="0000 0000 0000 0000">
            <div class="cardValidationData">
                <input formControlName="expiry" placeholder="MM/YY">
                <input formControlName="cvc" placeholder="CVC">
            </div>
        </div>

        <div *ngIf="activePromo" class="promoCodeCredentials">
            <h4>Выбран промокод</h4>
            <div class="promoResult">{{ activePromo.code }} - скидка {{ activePromo.discount }}%</div>
            <button (click)="resetPromo()" class="btnPromoCancel">Отменить</button>
        </div>

        <div>
            <label class="agreementTitle">
                <input type="checkbox" formControlName="agreement">
                <span class="disclaimerText">
                    Я подтверждаю, что данная форма является симуляцией.
                    Все реальные способы оплаты НЕ совершаются.
                </span>
            </label>
            <div *ngIf="paymentForm.get('agreement')?.invalid && paymentForm.get('agreement')?.touched" class="redWarningText">
                * Подтвердите согласие перед оплатой!
            </div>
        </div>

        <div class="paymentActions">
            <button type="submit" [disabled]="isLoading" class="subPay">
                {{ isLoading ? 'Обработка...' : 'Провести оплату' }}
            </button>
            <button type="button" class="cancelPay" (click)="cancelPayment()">Прервать операцию</button>
        </div>

        <ng-template #emptyCart>
            <p>Ваша корзина пустая!</p>
        </ng-template>

        <div *ngIf="message" class="messageNotifier" 
        [class.text-green-600]="message.includes('успешно') || message.includes('применён')"
        [class.text-red-600]="message.includes('Ошибка') || message.includes('недействителен')">
        {{ message }}
        </div>
    </form>
</div>
